*{
    margin:40px;
    background-color:rgb(255, 255, 255);
}

.title{
    font-family:'Gill Sans';
    letter-spacing: 1px;
    font-size:36px;
    text-align: center;
}

.text{
    font-family: 'Gill Sans';
    letter-spacing: 1px;
    font-size:20px;
    color: rgb(88, 88, 88);
    text-align: center;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background: rgb(255, 236, 236);
    font-family: 'Arial', sans-serif;

}

.conclusion-next-button{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 230, 230);
    color:black;
    font-size: 14px;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 1px;
    white-space: nowrap;
    font-family: "Gill Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin-left: 20px;
}

.conclusion-next-button:hover{
    background: rgb(255, 210, 210);
}



