*{
       text-align: center;
   }

/* =========================
   OVERVIEW page specific styles
   ========================= */

   .overview-page{
    margin: 0;
    padding: 40px;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


.overview-page::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(/assets/photos/overview.png);
    background-size: auto;
    opacity: 30%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.overview-grid-container{
    position: relative;
    z-index: 1;
    display: grid;
    gap: 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.overview-main-image{
    width: 100%;
    height: auto;
    display: block;
}

.overview-text-column{
    padding: 40px 90px;
    text-align: left;
    font-family: "Gill Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.overview-name{
    font-size: 36px;
    letter-spacing: 2px;
    color: black;
    align-self: flex-start;
    width: 100%;
    margin-bottom:35px;
 
}

.overview-text{
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 32px 0;
    color:black;
    text-align: left;
    max-width: 100%;
    justify-content: center;
}

.overview-song{
    font-size: 16px;
    margin: 0 0 40px 0;
    color: #333;
    text-align: left;
}

.overview-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}


.overview-audio{
    position: fixed;
    bottom: 20px;
    right: 725px;
    z-index: 10;
    opacity: 0.7;
    flex: 1;
}

.overview-next-button{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background: rgb(255, 230, 230);
    color:black;
    font-size: 14px;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 1px;
    white-space: nowrap;
    font-family: "Gill Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin-left: 20px;
}

.overview-next-button:hover{
    background: rgb(255, 210, 210);
}

.back-button{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid rgb(230, 230, 230);
    background: #ffffff;
    color: black;
    font-size: 14px;
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 1px;
    white-space: nowrap;
    font-family: "Gill Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.back-button:hover{
    background: rgb(255, 230, 230);
}



/*

*{
    margin:40px;
   text-align: center;
   
   
}

.background{
    position: fixed;
    opacity: 25%;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
    background-color:rgb(255, 236, 236);
    
}

.flex-container1 {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Gill Sans';
 

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:transparent ;
    
  }

  .flex-container1 > div{
    background-color:transparent 
  }

  .flex-container2 {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Gill Sans';
    align-items: center;
    gap: 150px;
    font-size: 24px;
  }

  .flex-container3 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Gill Sans';
    align-items: center;
    gap: 50px;
    font-size: 24px;
  }

  .flex-container4 {
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Gill Sans';
    align-items: center;
    gap: 150px;
    font-size: 24px;
  }

/*.body{
    font-family:'Gill Sans';
    letter-spacing: 1px;
    font-size:24px;
    text-align: center;
}


.oxford{

    font-size: 30px;
}

.knoxville{
    font-size: 24px;
}

.pitt{
    font-size: 24px;
}

.link{
    font-size: 18px;
    font-style: italic;
}

.main-container {

}


.title{
    font-family:'Gill Sans';
    letter-spacing: 1px;
    font-size:36px;
}

