*{
    margin:40px;
    text-align: center;
    background-color:rgb(255, 255, 255);
}

.text{
    display: inline-block;
    justify-content: center;
    align-content: baseline;
}

.title{
    font-family:'Gill Sans';
    letter-spacing: 1px;
    font-size:36px;
}

.list{
    font-family: 'Gill Sans';
    letter-spacing: 1px;
    font-size:28px;
    color: rgb(88, 88, 88);
    text-decoration: none;
    text-align: left;
    list-style-position: inside;
    list-style:circle;
}


.list li{
    text-align: left;
}

.list a:hover{
    color: rgb(160, 90, 90);
}

.list a{
    color: inherit;
    text-decoration: none;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(255, 236, 236);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.masked-text {
    font-size: 8rem;
    font-weight: bold;
    color: transparent;
    background-image: url(/assets/photos/overview.png);
    background-size: 200%; /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite alternate linear;
}



